policycoreutils_man_ru2.tar.bz2
selinux-polgengui.console
selinux-polgengui.desktop
system-config-selinux.console
system-config-selinux.pam
system-config-selinux.desktop
system-config-selinux.png
sepolgen-1.0.23.tgz
policycoreutils-2.0.83.tgz
